<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous" 
	th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"
	th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<link rel="stylesheet" type="text/css" href="../../static/css/style.css"
	th:href="@{/static/css/style.css}">
<meta charset="UTF-8" />
<script th:src="@{/static/js/script.js}"></script>
<title>All Arenas</title>
</head>
<body>
	<div class="container-fluid" style="">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<div class="card bg-light text-dark">
					<div class="card-header text-center">
						<h1 class="card-title">Arenas Table</h1>
					</div>
					<div class="card-body">
						<div class="table-responsive" th:if="${not #lists.isEmpty(arenas)}">
							<table class="table table-hover">
								<thead class="thead-dark">
									<tr>
										<th>Country</th>
										<th>City</th>
										<th>Name</th>
										<th>Capacity</th>
									</tr>
								</thead>
								<tr th:each="arena : ${arenas}" class="clickableRow" th:onclick="'javascript:rowClicked(\'arenas\', \'' + ${arena.id} + '\');'">
									<td th:text="${arena.country}"></td>
									<td th:text="${arena.city}"></td>
									<td th:text="${arena.name}"></td>
									<td th:text="${arena.capacity}"></td>
								</tr>
							</table>
						</div>
						<div class="row">
							<div class="col-md-3 offset-md-9">
								<button type="button" class="btn btn-primary" th:onclick="'javascript:addNewClicked(\'arenas\');'">Add New</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>