<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous"
	th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"
	th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<link rel="stylesheet" type="text/css" href="../../static/css/style.css"
	th:href="@{/static/css/style.css}">
<script th:src="@{/static/js/script.js}"></script>
<meta charset="UTF-8" />
<title></title>
</head>
<body>
	<div class="container-fluid" style="">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<div class="card bg-light text-dark">
					<div class="card-header text-center">
						<h1 class="card-title" th:text="${arena.name}">Arena's Name</h1>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-md-7">
								<div class="row">
									<div class="col-md-4 shortProps">
										<p>Country:</p>
									</div>
									<div class="col-md-8">
										<p th:text="${arena.country}"></p>
									</div>
								</div>
								<div class="row">
									<div class="col-md-4 shortProps">
										<p>City:</p>
									</div>
									<div class="col-md-8">
										<p th:text="${arena.city}"></p>
									</div>
								</div>
								<div class="row">
									<div class="col-md-4 shortProps">
										<p>Time Zone:</p>
									</div>
									<div class="col-md-8">
										<p th:text="${arena.timeZone}"></p>
									</div>
								</div>
								<div class="row">
									<div class="col-md-4 shortProps">
										<p>Capacity:</p>
									</div>
									<div class="col-md-8">
										<p th:text="${arena.capacity}"></p>
									</div>
								</div>
							</div>
							<div class="col-md-5">
								<img class="img-fluid" th:src="@{'/img/' + ${arena.image.id} + '/show'}" />
							</div>
						</div>
						<div class="row">
							<div class="col-md-4 offset-md-8">
								<button type="button" class="btn btn-primary"
									th:onclick="'javascript:editClicked(\'arenas\',\'' + ${arena.id} + '\')'">Edit</button>
								<button type="button" class="btn btn-secondary"
									th:onclick="'javascript:deleteClicked(\'arenas\',\'' + ${arena.id} + '\')'">Delete</button>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>