th, td {
	border:1px solid #000;
	padding:3px;
}

table {
	border-collapse: collapse;
}

input[type="submit"], button {
	margin:6px;
}

input[type="file"] {
	overflow:hidden;
}

.clickableRow {
	cursor:pointer;
}